# RNNs, LSTMs, and the Capital Markets

# Key Takeaways:
* Market prediction is an unsolved problem in n-dimensions and, thus, intrinsically fascinating.

* This is an exploration of the performance of recurrent neural networks and long-short term memory nodes on data from the U.S. capital markets.

* Data were limited to monthly frequency and could easily be expanded to alternate timesteps and augmented with economic or fundamental data.

* The purpose was primarily to understand the coding of the network and not create an engine for trading decisions (don't use this for trading).

* We concluded that simpler models (i.e., fewer hidden layers) do not produce better results than more complex networks. In fact, more information was associated worse performance (MSE = ~2.5).

* The activation function turned out to have an outsized impact on our results with hyperbolic tangent yielding the worst performance and rectified linear unit performing best (MSE = ~.55).

* Further research on the market prediction problem should focus on the ideal activation function, as well as the optimal amount and type of data.

In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout
from sklearn.preprocessing import StandardScaler

# 1.0 Data Ingestion

We dowloaded monthly market data for the S&P SPY exchange traded fund, as only intsitutions can truly buy a 500 stock approximation to the U.S. markets. We opted not to hook this up to the yfinance() API, as unexpected changes in the API could render the notebook useless.

In [89]:
# Load data
data = pd.read_csv('~/Desktop/Springboard/Capstone3/marketdata2.csv')
data.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  1993-02-01  43.96875  45.12500  42.81250  44.40625  25.487274  5417600
1  1993-03-01  44.56250  45.84375  44.21875  45.18750  25.935671  3019200
2  1993-04-01  45.25000  45.25000  43.28125  44.03125  25.391386  2697200
3  1993-05-01  44.09375  45.65625  43.84375  45.21875  26.076170  1808000
4  1993-06-01  45.37500  45.81250  44.21875  45.06250  25.986073  3438000

The raw data could be used as is, however, we're going to add value via computation and a bit of industry knowledge.

# 2.0 Data Cleaning

It's always a good idea to view your data from 35,000 feet.

In [90]:
data.shape

(362, 7)

Checking the types of data one has been handed is simple common sense: If the encoding is wrong, you'll likely get more errors than meaningful results.

In [91]:
data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

The raw data are in great shape. Only the Date column wants for typecasting.

In [92]:
data['Date'] = pd.to_datetime(data['Date'])

# 2.0 Data Wrangling

According to the output, we have 362 monthly observations and 7 features, all of which are intuitively labeled based on what they tell us about SPY that day.

Percentage change is a closely watched metric in finance, but quite a number of percentages can be calculated from the data. Below, we calculated every reasonable percentage change from the raw data. This doesn't tell us as one might think, given that industry insiders compare daily, weekly, monthly, and annual percentages to guage the current state of the market. They do not weight them equally, rather this tradeoff is partially based on an endless parade of economic data and, sadly, some psychological bias.

In [93]:
# https://stackoverflow.com/questions/3637781
data['pct_chg_open'] = (-data['Open'].diff())/data['Open'].shift()
data['pct_chg_close'] = (-data['Close'].diff())/data['Close'].shift()
data['pct_chg_high'] = (-data['High'].diff())/data['High'].shift()
data['pct_chg_low'] = (-data['Low'].diff())/data['Low'].shift()
data['pct_chg_vol'] = (-data['Volume'].diff())/data['Volume'].shift()
data['pct_chg_high_open'] = data['High']/data['Open']-1
data['pct_chg_open_high'] = data['Open']/data['High']-1
data['pct_chg_open_low'] = data['Open']/data['Low']-1
data['pct_chg_low_open'] = data['Low']/data['Open']-1
data['pct_chg_high_low'] = data['High']/data['Low']-1
data['pct_chg_low_high'] = data['Low']/data['High']-1
data['pct_chg_close_open'] = data['Close']/data['Open']-1
data['pct_chg_open_close'] = data['Open']/data['Close']-1

In [94]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,pct_chg_open,pct_chg_close,pct_chg_high,pct_chg_low,pct_chg_vol,pct_chg_high_open,pct_chg_open_high,pct_chg_open_low,pct_chg_low_open,pct_chg_high_low,pct_chg_low_high,pct_chg_close_open,pct_chg_open_close
0,1993-02-01,43.96875,45.12500,42.81250,44.40625,25.487274,5417600,NaN,NaN,NaN,NaN,NaN,0.026297,-0.025623,0.027007,-0.026297,0.054015,-0.051247,0.009950,-0.009852
1,1993-03-01,44.56250,45.84375,44.21875,45.18750,25.935671,3019200,-0.013504,-0.017593,-0.015928,-0.032847,0.442705,0.028752,-0.027948,0.007774,-0.007714,0.036749,-0.035446,0.014025,-0.013831
2,1993-04-01,45.25000,45.25000,43.28125,44.03125,25.391386,2697200,-0.015428,0.025588,0.012952,0.021201,0.106651,0.000000,0.000000,0.045487,-0.043508,0.045487,-0.043508,-0.026934,0.027679
3,1993-05-01,44.09375,45.65625,43.84375,45.21875,26.076170,1808000,0.025552,-0.026969,-0.008978,-0.012996,0.329675,0.035436,-0.034223,0.005702,-0.005670,0.041340,-0.039699,0.025514,-0.024879
4,1993-06-01,45.37500,45.81250,44.21875,45.06250,25.986073,3438000,-0.029057,0.003455,-0.003422,-0.008553,-0.901549,0.009642,-0.009550,0.026148,-0.025482,0.036042,-0.034789,-0.006887,0.006935

Percentage changes are important, but guaging the trend of multiple, non-stationary time series is generally done with moving averages, the most popular of which are calculated below.

In [95]:
data['ma30'] = data['Close'].rolling(30).mean()
data['ma50'] = data['Close'].rolling(50).mean()
data['ma90'] = data['Close'].rolling(90).mean()
data['ma100'] = data['Close'].rolling(100).mean()
data['ma200'] = data['Close'].rolling(200).mean()

Moving averages aren't used in isolation, but rather compared to the price. So, if the price is above the 50 or 200 day moving averages, the stock is overbought and investors are likely to let it decline, until the price approximates the 30 day moving average, at which point investors will be drawn to the stock that is "on sale" (i.e., oversold). Such investors, however, would do well to remember there are two types of stock in the world: stocks that are cheap and stocks that are cheap for a reason. This approach to investing neglects potential reasons stocks may be selling at discount prices.

# 3.0 Feature Engineering

We'll add some additional features to our model, though, theoretically we could find hundreds of features to use.

First, we'll calculate the Relative Strength Index (RSI). Traders use RSI as one factor when deciding if a stock is cheap (i.e., "oversold") or expensive (i.e., "overbought"). 
Second, we'll interpret the moving averages discussed above and determine whether or not they are sending allegedly bullish or bearish signals.

In [96]:
# https://en.wikipedia.org/wiki/Relative_strength_index
# https://www.qmr.ai/relative-strength-index-rsi-in-python/

# calculate percentages 
change = data["Close"].diff()

change_up = change.copy()
change_down = change.copy()

change_up[change_up<0] = 0
change_down[change_down>0] = 0

# Error Check
change.equals(change_up+change_down)

# Calculate the rolling average of average up and average down
avg_up = change_up.rolling(14).mean()
avg_down = change_down.rolling(14).mean().abs()

data['rsi'] = 100 * avg_up / (avg_up + avg_down)

# Interpret signal
data['RSI_signal_down'] = data['rsi'].apply(lambda x: 1 if x < 30 else 0)
data['RSI_signal_up'] = data['rsi'].apply(lambda x: 0 if x < 70 else 1)

# View 20 oldest datapoints
data.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,pct_chg_open,pct_chg_close,pct_chg_high,...,pct_chg_close_open,pct_chg_open_close,ma30,ma50,ma90,ma100,ma200,rsi,RSI_signal_down,RSI_signal_up
0,1993-02-01,43.968750,45.125000,42.812500,44.406250,25.487274,5417600,NaN,NaN,NaN,...,0.009950,-0.009852,NaN,NaN,NaN,NaN,NaN,NaN,0,1
1,1993-03-01,44.562500,45.843750,44.218750,45.187500,25.935671,3019200,-0.013504,-0.017593,-0.015928,...,0.014025,-0.013831,NaN,NaN,NaN,NaN,NaN,NaN,0,1
2,1993-04-01,45.250000,45.250000,43.281250,44.031250,25.391386,2697200,-0.015428,0.025588,0.012952,...,-0.026934,0.027679,NaN,NaN,NaN,NaN,NaN,NaN,0,1
3,1993-05-01,44.093750,45.656250,43.843750,45.218750,26.076170,1808000,0.025552,-0.026969,-0.008978,...,0.025514,-0.024879,NaN,NaN,NaN,NaN,NaN,NaN,0,1
4,1993-06-01,45.375000,45.812500,44.218750,45.062500,25.986073,3438000,-0.029057,0.003455,-0.003422,...,-0.006887,0.006935,NaN,NaN,NaN,NaN,NaN,NaN,0,1
5,1993-07-01,45.125000,45.218750,44.156250,44.843750,26.043200,6117600,0.005510,0.004854,0.012960,...,-0.006233,0.006272,NaN,NaN,NaN,NaN,NaN,NaN,0,1
6,1993-08-01,44.906250,46.562500,44.843750,46.562500,27.041382,5440100,0.004848,-0.038328,-0.029717,...,0.036882,-0.035570,NaN,NaN,NaN,NaN,NaN,NaN,0,1
7,1993-09-01,46.406250,46.593750,44.812500,45.937500,26.678417,4369900,-0.033403,0.013423,-0.000671,...,-0.010101,0.010204,NaN,NaN,NaN,NaN,NaN,NaN,0,1
8,1993-10-01,45.875000,47.156250,45.718750,46.843750,27.374218,6972900,0.011448,-0.019728,-0.012072,...,0.021117,-0.020680,NaN,NaN,NaN,NaN,NaN,NaN,0,1
9,1993-11-01,46.781250,47.000000,45.531250,46.343750,27.082035,5351100,-0.019755,0.010674,0.003313,...,-0.009352,0.009440,NaN,NaN,NaN,NaN,NaN,NaN,0,1
10,1993-12-01,46.593750,47.156250,46.375000,46.593750,27.228117,6128000,0.004008,-0.005394,-0.003324,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0,1
11,1994-01-01,46.593750,48.312500,46.406250,48.218750,28.370621,6837100,-0.000000,-0.034876,-0.024520,...,0.034876,-0.033701,NaN,NaN,NaN,NaN,NaN,NaN,0,1
12,1994-02-01,48.156250,48.281250,46.562500,46.812500,27.543228,10974400,-0.033535,0.029164,0.000647,...,-0.027904,0.028705,NaN,NaN,NaN,NaN,NaN,NaN,0,1
13,1994-03-01,46.812500,47.312500,43.531250,44.593750,26.237761,14705500,0.027904,0.047397,0.020065,...,-0.047397,0.049755,NaN,NaN,NaN,NaN,NaN,NaN,0,1
14,1994-04-01,43.343750,45.359375,43.343750,45.093750,26.685001,11429000,0.074099,-0.011212,0.041281,...,0.040375,-0.038808,NaN,NaN,NaN,NaN,NaN,52.594340,0,0
15,1994-05-01,45.093750,45.937500,44.171875,45.812500,27.110344,8545100,-0.040375,-0.015939,-0.012745,...,0.015939,-0.015689,NaN,NaN,NaN,NaN,NaN,52.369668,0,0
16,1994-06-01,45.703125,46.562500,44.000000,44.468750,26.315166,10352700,-0.013514,0.029332,-0.013605,...,-0.027009,0.027758,NaN,NaN,NaN,NaN,NaN,51.635514,0,0
17,1994-07-01,44.687500,46.046875,44.375000,45.906250,27.345421,5452100,0.022222,-0.032326,0.011074,...,0.027273,-0.026549,NaN,NaN,NaN,NaN,NaN,52.522936,0,0
18,1994-08-01,45.937500,47.984375,45.656250,47.656250,28.387859,7945800,-0.027972,-0.038121,-0.042077,...,0.037415,-0.036066,NaN,NaN,NaN,NaN,NaN,58.521561,0,0
19,1994-09-01,47.500000,47.718750,45.734375,46.171875,27.503649,6309300,-0.034014,0.031148,0.005536,...,-0.027961,0.028765,NaN,NaN,NaN,NaN,NaN,54.028436,0,0

The RSI calculation above is popular. Building off of what was already available in on the web made our slightly less transparent calculation significantly better (see above citations). We now take on the meanings of percentage/price comparisons.

In [97]:
# compare daily closing prices to moving averages
data['above30'] = data['Close'] > data['ma30']
data['above50'] = data['Close'] > data['ma50']
data['above90'] = data['Close'] > data['ma90']
data['above100'] = data['Close'] > data['ma100']
data['above200'] = data['Close'] > data['ma200']

# make sure we have the data types we expect
data['above30'] = data['above30'].astype(int)
data['above50'] = data['above50'].astype(int)
data['above90'] = data['above90'].astype(int)
data['above100'] = data['above100'].astype(int)
data['above200'] = data['above200'].astype(int)

In [98]:
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,pct_chg_open,pct_chg_close,pct_chg_high,...,ma100,ma200,rsi,RSI_signal_down,RSI_signal_up,above30,above50,above90,above100,above200
357,2022-11-01,390.140015,407.679993,368.790009,407.679993,405.816467,1745985300,-0.080481,-0.055592,-0.046621,...,292.290499,213.336649,46.676368,0,0,1,1,1,1,1
358,2022-12-01,408.769989,410.489990,374.769989,382.429993,380.681885,1735926500,-0.047752,0.061936,-0.006893,...,294.107699,214.591449,37.920622,0,0,0,1,1,1,1
359,2023-01-01,384.369995,408.160004,377.829987,406.480011,406.480011,1574934300,0.059691,-0.062887,0.005676,...,296.202299,215.986299,42.746943,0,0,1,1,1,1,1
360,2023-02-01,405.209991,418.309998,398.820007,399.089996,399.089996,1137807500,-0.054219,0.018181,-0.024868,...,298.176599,217.345349,38.375266,0,0,0,1,1,1,1
361,2023-02-21,403.059998,404.160004,398.820007,399.089996,399.089996,82655924,0.005306,-0.000000,0.033827,...,300.095499,218.701549,41.565985,0,0,0,1,1,1,1

We know our data are monthly and when the next prediction hits, so we don't need the last row. At the time of this writing, tomorrow's close will provide evidence of whether or not this model requires an additional hundred or more predictors. Rows with `na's` also have no probative value. We take care of this last minute clean-up in the next cell.

In [99]:
dates = data['Date']
data = data.iloc[:-1 , :]
data = data.dropna()

With a data shape like the one below, we shouldn't suffer from rank deficiency.

In [100]:
data.shape

(162, 33)

In [101]:
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,pct_chg_open,pct_chg_close,pct_chg_high,...,ma100,ma200,rsi,RSI_signal_down,RSI_signal_up,above30,above50,above90,above100,above200
356,2022-10-01,361.079987,389.519989,348.109985,386.209991,384.444611,2024732000,0.080964,-0.081276,0.053943,...,290.144599,211.947399,39.908580,0,0,0,1,1,1,1
357,2022-11-01,390.140015,407.679993,368.790009,407.679993,405.816467,1745985300,-0.080481,-0.055592,-0.046621,...,292.290499,213.336649,46.676368,0,0,1,1,1,1,1
358,2022-12-01,408.769989,410.489990,374.769989,382.429993,380.681885,1735926500,-0.047752,0.061936,-0.006893,...,294.107699,214.591449,37.920622,0,0,0,1,1,1,1
359,2023-01-01,384.369995,408.160004,377.829987,406.480011,406.480011,1574934300,0.059691,-0.062887,0.005676,...,296.202299,215.986299,42.746943,0,0,1,1,1,1,1
360,2023-02-01,405.209991,418.309998,398.820007,399.089996,399.089996,1137807500,-0.054219,0.018181,-0.024868,...,298.176599,217.345349,38.375266,0,0,0,1,1,1,1

Before we build our model, we must standardize large values that could dominate our analysis.

In [102]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'pct_chg_open', 'pct_chg_close', 'pct_chg_high', 'pct_chg_low',
       'pct_chg_vol', 'pct_chg_high_open', 'pct_chg_open_high',
       'pct_chg_open_low', 'pct_chg_low_open', 'pct_chg_high_low',
       'pct_chg_low_high', 'pct_chg_close_open', 'pct_chg_open_close', 'ma30',
       'ma50', 'ma90', 'ma100', 'ma200', 'rsi', 'RSI_signal_down',
       'RSI_signal_up', 'above30', 'above50', 'above90', 'above100',
       'above200'],
      dtype='object')

In [104]:
cols_to_standardize = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'pct_chg_open', 'pct_chg_close', 'pct_chg_high', 'pct_chg_open_low', 'pct_chg_low_open', 'pct_chg_high_low',
       'pct_chg_low_high', 'pct_chg_close_open', 'pct_chg_open_close', 'ma30',
       'ma50', 'ma90', 'ma100', 'ma200', 'rsi']

# instantiate scaler
scaler = StandardScaler()

# scale and transform columns
scaler.fit(data[cols_to_standardize])
data[cols_to_standardize] = scaler.transform(data[cols_to_standardize])

print(data.head())

          Date      Open      High       Low     Close  Adj Close    Volume  \
199 2009-09-01 -1.350885 -1.320469 -1.356953 -1.330954  -1.282804  1.031806
200 2009-10-01 -1.340429 -1.298887 -1.331622 -1.351209  -1.293927  1.598059
201 2009-11-01 -1.329177 -1.285172 -1.320213 -1.287550  -1.247528  0.752527
202 2009-12-01 -1.261563 -1.272798 -1.258036 -1.272584  -1.236619  0.312410
203 2010-01-01 -1.247125 -1.252560 -1.276877 -1.312994  -1.261868  0.974585

     pct_chg_open  pct_chg_close  pct_chg_high  ...     ma100     ma200  \
199     -0.253969      -0.496397     -1.014865  ... -1.012894 -1.300714
200     -0.013564       0.668829     -0.452831  ... -1.016406 -1.291324
201     -0.028609      -1.223487     -0.153026  ... -1.018511 -1.281046
202     -1.243498      -0.100651     -0.098896  ... -1.019010 -1.270346
203     -0.075687       1.069550     -0.370647  ... -1.018466 -1.260478

          rsi  RSI_signal_down  RSI_signal_up  above30  above50  above90  \
199 -2.005631                0              0        0        0        0
200 -2.166603                0              0        0        0        0
201 -1.408411                0              0        0        0        0
202 -0.336440                0              0        0        0        0
203 -0.146961                0              0        0        0        0

     above100  above200
199         0         1
200         0         1
201         0         1
202         0         1
203         0         1

[5 rows x 33 columns]

In [105]:
data.drop(['Date'], axis=1, inplace=True)

# 4.0 Model Training

We're ready to make some magic happen or, at least, build our recurrent neural network. We begin by converting our data to an array. Since we'll be in array form, we won't use the typical train/test split syntax, but rather split our data manually.

In [106]:
values = data.values
train_size = int(len(values) * 0.7)
train = values[0:train_size,:] 
test = values[train_size:len(values),:]

We're now ready to define our model and hyperparameters. Note, our target is in column 0.

In [107]:
data.shape

(162, 32)

In [137]:
# inspired by MIT.S.191 -- intro to deep learning

# Define function to create LSTM model
def create_model():
    model = Sequential()
    model.add(LSTM(50, input_shape=(1, look_back), activation='relu'))
    #model.add(Dense(20, activation='tanh'))
    model.add(Dropout(0.2))
    model.add(Dense(1, activation='relu'))
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

# let's look back one month
look_back = 1

# these are boilerplate values
epochs = 100
batch_size = 1

trainX, trainY = [], []
testX, testY = [], []
for i in range(look_back, len(train)):
    trainX.append(train[i-look_back:i, 0])
    trainY.append(train[i, 0])
for i in range(look_back, len(test)):
    testX.append(test[i-look_back:i, 0])
    testY.append(test[i, 0])

# Fit to LSTM input format
trainX = np.reshape(trainX, (len(trainX), 1, look_back))
testX = np.reshape(testX, (len(testX), 1, look_back))
trainY = np.array(trainY)
testY = np.array(testY)

# 5.0 Model Evaluation

In [138]:
model = create_model()
model.fit(trainX, trainY, epochs=epochs, batch_size=batch_size, verbose=2)

# Make predictions
trainPredict = model.predict(trainX)
testPredict = model.predict(testX)

# Print model performance metrics
trainScore = model.evaluate(trainX, trainY, verbose=0)
testScore = model.evaluate(testX, testY, verbose=0)
print('Train Score: %.2f MSE' % (trainScore))
print('Test Score: %.2f MSE' % (testScore))

Epoch 1/100
112/112 - 1s - loss: 0.5669 - 559ms/epoch - 5ms/step
Epoch 2/100
112/112 - 0s - loss: 0.5610 - 82ms/epoch - 728us/step
Epoch 3/100
112/112 - 0s - loss: 0.5568 - 84ms/epoch - 750us/step
Epoch 4/100
112/112 - 0s - loss: 0.5558 - 84ms/epoch - 749us/step
Epoch 5/100
112/112 - 0s - loss: 0.5537 - 84ms/epoch - 749us/step
Epoch 6/100
112/112 - 0s - loss: 0.5533 - 84ms/epoch - 752us/step
Epoch 7/100
112/112 - 0s - loss: 0.5539 - 83ms/epoch - 745us/step
Epoch 8/100
112/112 - 0s - loss: 0.5539 - 85ms/epoch - 759us/step
Epoch 9/100
112/112 - 0s - loss: 0.5531 - 85ms/epoch - 761us/step
Epoch 10/100
112/112 - 0s - loss: 0.5530 - 84ms/epoch - 753us/step
Epoch 11/100
112/112 - 0s - loss: 0.5529 - 88ms/epoch - 788us/step
Epoch 12/100
112/112 - 0s - loss: 0.5539 - 88ms/epoch - 786us/step
Epoch 13/100
112/112 - 0s - loss: 0.5531 - 87ms/epoch - 777us/step
Epoch 14/100
112/112 - 0s - loss: 0.5525 - 88ms/epoch - 782us/step
Epoch 15/100
112/112 - 0s - loss: 0.5537 - 85ms/epoch - 757us/step
Epoch 16/100
112/112 - 0s - loss: 0.5535 - 83ms/epoch - 741us/step
Epoch 17/100
112/112 - 0s - loss: 0.5533 - 83ms/epoch - 740us/step
Epoch 18/100
112/112 - 0s - loss: 0.5529 - 84ms/epoch - 753us/step
Epoch 19/100
112/112 - 0s - loss: 0.5534 - 86ms/epoch - 771us/step
Epoch 20/100
112/112 - 0s - loss: 0.5526 - 86ms/epoch - 770us/step
Epoch 21/100
112/112 - 0s - loss: 0.5526 - 92ms/epoch - 820us/step
Epoch 22/100
112/112 - 0s - loss: 0.5531 - 88ms/epoch - 787us/step
Epoch 23/100
112/112 - 0s - loss: 0.5522 - 106ms/epoch - 950us/step
Epoch 24/100
112/112 - 0s - loss: 0.5528 - 87ms/epoch - 773us/step
Epoch 25/100
112/112 - 0s - loss: 0.5533 - 86ms/epoch - 771us/step
Epoch 26/100
112/112 - 0s - loss: 0.5525 - 88ms/epoch - 784us/step
Epoch 27/100
112/112 - 0s - loss: 0.5527 - 85ms/epoch - 757us/step
Epoch 28/100
112/112 - 0s - loss: 0.5527 - 87ms/epoch - 778us/step
Epoch 29/100
112/112 - 0s - loss: 0.5529 - 88ms/epoch - 784us/step
Epoch 30/100
112/112 - 0s - loss: 0.5533 - 87ms/epoch - 774us/step
Epoch 31/100
112/112 - 0s - loss: 0.5527 - 87ms/epoch - 774us/step
Epoch 32/100
112/112 - 0s - loss: 0.5527 - 87ms/epoch - 774us/step
Epoch 33/100
112/112 - 0s - loss: 0.5522 - 85ms/epoch - 757us/step
Epoch 34/100
112/112 - 0s - loss: 0.5527 - 85ms/epoch - 755us/step
Epoch 35/100
112/112 - 0s - loss: 0.5527 - 86ms/epoch - 766us/step
Epoch 36/100
112/112 - 0s - loss: 0.5526 - 87ms/epoch - 781us/step
Epoch 37/100
112/112 - 0s - loss: 0.5526 - 88ms/epoch - 788us/step
Epoch 38/100
112/112 - 0s - loss: 0.5526 - 86ms/epoch - 769us/step
Epoch 39/100
112/112 - 0s - loss: 0.5525 - 86ms/epoch - 766us/step
Epoch 40/100
112/112 - 0s - loss: 0.5520 - 84ms/epoch - 754us/step
Epoch 41/100
112/112 - 0s - loss: 0.5531 - 87ms/epoch - 775us/step
Epoch 42/100
112/112 - 0s - loss: 0.5535 - 85ms/epoch - 760us/step
Epoch 43/100
112/112 - 0s - loss: 0.5528 - 90ms/epoch - 803us/step
Epoch 44/100
112/112 - 0s - loss: 0.5527 - 87ms/epoch - 772us/step
Epoch 45/100
112/112 - 0s - loss: 0.5526 - 87ms/epoch - 774us/step
Epoch 46/100
112/112 - 0s - loss: 0.5527 - 88ms/epoch - 790us/step
Epoch 47/100
112/112 - 0s - loss: 0.5519 - 88ms/epoch - 787us/step
Epoch 48/100
112/112 - 0s - loss: 0.5528 - 88ms/epoch - 784us/step
Epoch 49/100
112/112 - 0s - loss: 0.5530 - 87ms/epoch - 777us/step
Epoch 50/100
112/112 - 0s - loss: 0.5528 - 85ms/epoch - 758us/step
Epoch 51/100
112/112 - 0s - loss: 0.5526 - 87ms/epoch - 781us/step
Epoch 52/100
112/112 - 0s - loss: 0.5530 - 89ms/epoch - 794us/step
Epoch 53/100
112/112 - 0s - loss: 0.5533 - 88ms/epoch - 782us/step
Epoch 54/100
112/112 - 0s - loss: 0.5537 - 84ms/epoch - 753us/step
Epoch 55/100
112/112 - 0s - loss: 0.5526 - 84ms/epoch - 754us/step
Epoch 56/100
112/112 - 0s - loss: 0.5531 - 84ms/epoch - 748us/step
Epoch 57/100
112/112 - 0s - loss: 0.5523 - 86ms/epoch - 763us/step
Epoch 58/100
112/112 - 0s - loss: 0.5521 - 84ms/epoch - 754us/step
Epoch 59/100
112/112 - 0s - loss: 0.5522 - 86ms/epoch - 766us/step
Epoch 60/100
112/112 - 0s - loss: 0.5534 - 86ms/epoch - 771us/step
Epoch 61/100
112/112 - 0s - loss: 0.5531 - 88ms/epoch - 790us/step
Epoch 62/100
112/112 - 0s - loss: 0.5531 - 85ms/epoch - 761us/step
Epoch 63/100
112/112 - 0s - loss: 0.5526 - 83ms/epoch - 743us/step
Epoch 64/100
112/112 - 0s - loss: 0.5526 - 83ms/epoch - 740us/step
Epoch 65/100
112/112 - 0s - loss: 0.5537 - 84ms/epoch - 748us/step
Epoch 66/100
112/112 - 0s - loss: 0.5526 - 83ms/epoch - 745us/step
Epoch 67/100
112/112 - 0s - loss: 0.5530 - 85ms/epoch - 759us/step
Epoch 68/100
112/112 - 0s - loss: 0.5529 - 85ms/epoch - 755us/step
Epoch 69/100
112/112 - 0s - loss: 0.5530 - 85ms/epoch - 760us/step
Epoch 70/100
112/112 - 0s - loss: 0.5528 - 84ms/epoch - 750us/step
Epoch 71/100
112/112 - 0s - loss: 0.5533 - 86ms/epoch - 765us/step
Epoch 72/100
112/112 - 0s - loss: 0.5520 - 86ms/epoch - 766us/step
Epoch 73/100
112/112 - 0s - loss: 0.5527 - 87ms/epoch - 776us/step
Epoch 74/100
112/112 - 0s - loss: 0.5520 - 108ms/epoch - 963us/step
Epoch 75/100
112/112 - 0s - loss: 0.5519 - 85ms/epoch - 761us/step
Epoch 76/100
112/112 - 0s - loss: 0.5522 - 84ms/epoch - 746us/step
Epoch 77/100
112/112 - 0s - loss: 0.5528 - 83ms/epoch - 742us/step
Epoch 78/100
112/112 - 0s - loss: 0.5536 - 83ms/epoch - 737us/step
Epoch 79/100
112/112 - 0s - loss: 0.5524 - 84ms/epoch - 749us/step
Epoch 80/100
112/112 - 0s - loss: 0.5523 - 85ms/epoch - 756us/step
Epoch 81/100
112/112 - 0s - loss: 0.5531 - 86ms/epoch - 768us/step
Epoch 82/100
112/112 - 0s - loss: 0.5522 - 87ms/epoch - 778us/step
Epoch 83/100
112/112 - 0s - loss: 0.5532 - 90ms/epoch - 807us/step
Epoch 84/100
112/112 - 0s - loss: 0.5524 - 88ms/epoch - 787us/step
Epoch 85/100
112/112 - 0s - loss: 0.5524 - 87ms/epoch - 776us/step
Epoch 86/100
112/112 - 0s - loss: 0.5524 - 83ms/epoch - 737us/step
Epoch 87/100
112/112 - 0s - loss: 0.5527 - 84ms/epoch - 752us/step
Epoch 88/100
112/112 - 0s - loss: 0.5524 - 85ms/epoch - 755us/step
Epoch 89/100
112/112 - 0s - loss: 0.5522 - 85ms/epoch - 759us/step
Epoch 90/100
112/112 - 0s - loss: 0.5529 - 89ms/epoch - 791us/step
Epoch 91/100
112/112 - 0s - loss: 0.5531 - 86ms/epoch - 767us/step
Epoch 92/100
112/112 - 0s - loss: 0.5522 - 86ms/epoch - 766us/step
Epoch 93/100
112/112 - 0s - loss: 0.5527 - 85ms/epoch - 756us/step
Epoch 94/100
112/112 - 0s - loss: 0.5529 - 86ms/epoch - 772us/step
Epoch 95/100
112/112 - 0s - loss: 0.5523 - 86ms/epoch - 772us/step
Epoch 96/100
112/112 - 0s - loss: 0.5524 - 87ms/epoch - 781us/step
Epoch 97/100
112/112 - 0s - loss: 0.5520 - 85ms/epoch - 760us/step
Epoch 98/100
112/112 - 0s - loss: 0.5524 - 86ms/epoch - 764us/step
Epoch 99/100
112/112 - 0s - loss: 0.5522 - 85ms/epoch - 762us/step
Epoch 100/100
112/112 - 0s - loss: 0.5532 - 87ms/epoch - 773us/step
4/4 [==============================] - 0s 1ms/step
2/2 [==============================] - 0s 2ms/step
Train Score: 0.55 MSE
Test Score: 0.36 MSE

# 6.0 Implications & Conclusion

We don't think anyone is going to get rich using this model. The training score essentially says our model did a mediocre job of memorizing the data. Our test score is, as always, more interesting. The test score MSE increases with the number of periods our model looks back before making a decision. At a lookback of 4 months, our test MSE was 1.79 with our hidden, 20-node layer and 'reLU' as an activation function. Retaining this setup and changing the activation function to 'tanh' yielded a more respectable test MSE of .63. In both cases, 'tanh' was our activation function. 

Running this setup with the extra hidden layer and 4-month lookback, but with 'relu', brought our MSE back up to an embarassing 2.13 on the test set versus .54 on the training set. Changing the activation function back to tanh brought the test MSE down to 1.35.  Eliminating the hidden layer and retaining a 4 month lookback and tanh yielded poor results (MSE = ~1.4). Finally, eliminating the hidden layer and returning to reLU with a 1-month look back yielded the best test set results (MSE = .36). This is oddly good and, we think, interesting. It seems to lend credence to the view that the best point estimate of a random walk is the value from a comparable prior period. Restated, the best model seems to be the simplest one.

The effect of the activation function was almost as striking as the look back period. The difference between the results with 'tanh' and 'relu' resulted in the difference between a model you'd throw away and one on which you'd continue to work. Further research on the market prediction problem should focus on the ideal activation function, as well as the optimal amount and type of data. Supplementing the data here with economic data and additional technical, as well as fundamental, data would also be fruitful.